.poster {
  width: 255px;
  height: 155px;
  margin-right: 30px;
  color: white;
  margin-bottom: 10px;
}

.poster__hover {
  height: 155px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.9) 50%
  );
}

.poster__top {
  display: flex;
  justify-content: flex-end;
}

.poster__icon {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 10px;
}

.poster__like {
  width: 37.5px;
  margin-top: 7px;
  margin-right: 10px;
  object-fit: contain;
}

.poster__iconDelete {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 120px;
  transform: rotate(45deg);
  cursor: pointer;
}

.poster__middle {
  display: flex;
  justify-content: center;
}

.poster__iconMiddle {
  margin-top: 16px;
}

.poster__bottom {
  margin-left: 10px;
}

.poster__title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.poster__age {
  background-color: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 16px;
  border-radius: 9.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

.poster__text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.poster__bottom2 {
  display: flex;
}

@media only screen and (max-width: 1080px) {
  .poster {
    width: 330.7px;
    margin-right: 3px;

    height: 155px;
    color: white;
    margin-bottom: 10px;
    transition: all 2s;
  }

  .poster__iconDelete {
    margin-right: 195px;

    width: 32px;
    height: 32px;
    margin-top: 10px;
    transform: rotate(45deg);
    position: absolute;
    right: 37px;
  }

  .poster__hover {
    position: absolute;
    width: 330.7px;
    height: 155px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.9) 50%
    );
  }

  .poster__top {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 240px;
  }

  .poster__icon {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .poster__like {
    width: 37.5px;
    margin-top: 6.3px;
    margin-right: 10px;
    object-fit: contain;
    position: absolute;
    left: 42px;
    top: 0.5px;
  }

  .poster__middle {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 150px;
  }

  .poster__iconMiddle {
    margin-top: 16px;
  }

  .poster__bottom {
    width: 100%;
    margin: 0;
    height: 100%;
    position: absolute;
    top: 100px;
  }

  .poster__title {
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
  }

  .poster__age {
    background-color: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 16px;
    border-radius: 9.5px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-right: -7px;
  }

  .poster__text {
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .poster__bottom2 {
    display: flex;
  }
}
