.row {
  margin-left: 165px;
  color: white;
}

.row__posters {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row__poster {
  object-fit: contain;
  max-width: 255px;
  height: 100%;
  margin-right: 30px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  width: 255px;
  height: 100%;
  object-fit: contain;
  margin-right: 30px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
