.dropzone {
  width: 660px;
  height: 100px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px dashed #9b9b9b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropzone__inBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone__boxText {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  display: flex;
  margin-left: -38px;
  cursor: pointer;
}

.dropzone__boxTextBold {
  color: #0076ff;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

.dropzone__clip {
  margin-left: 142px;
}

.dropzone__drag {
  cursor: grab;
}

.dropzone__onProgress {
  background-color: #f3f3f3;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone__barTextProgress {
  margin-bottom: 10px;
  align-self: flex-start;
  justify-content: flex-start;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.bold {
  font-weight: bold;
}

.dropzone__bar {
  width: 599.9px;
  height: 20px;
  background-color: #dedede;
  border-radius: 10px;
}

.dropzone__barTextCancel {
  margin-top: 10px;
  justify-content: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.dropzone__barComplete {
  margin-bottom: 40px;
  width: 599.9px;
  height: 20px;
  background-color: #dedede;
  border-radius: 10px;
}

.center {
  margin-bottom: 24px;
}

.modal__strong {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@media only screen and (max-width: 1080px) {
  .dropzone {
    width: 90%;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px dashed #9b9b9b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .dropzone__bar {
    width: 100%;
  }

  .dropzone__content {
    width: 90%;
  }
}
