.home__rows {
  margin-top: -115px;
}

.nombre {
  color: white;
}

.cat {
  color: white;
}

.home {
  color: white;
}

@media only screen and (max-width: 1080px) {
  .home__rows {
    margin-top: -57px;
  }
}

.white {
  color: white;
  background-color: green;
}
