.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__inner {
  width: 730px;
  height: 354px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #999;
  /*overflow: auto;*/
  display: flex;
  flex-direction: column;
}

.modal__close {
  right: 323px;
  top: 142px;
  position: fixed;
  content: "x";
  cursor: pointer;
  width: 7px;
  height: 7px;
  font-family: Montserrat;
  text-align: center;
  font-size: 15px;
  font-weight: initial;
}

.modal__boxUpload {
  width: 660px;
  height: 100px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px dashed #9b9b9b;
  display: flex;
}

.modal__inBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__boxText {
  display: flex;
}

#upload-input {
  display: none;
}

.modal__inputs {
  display: flex;
}

.modal__name {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.modal__title {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5px;
  color: #9b9b9b;
}

.modal__nameInput {
  width: 315px;
  height: 28px;
  margin-top: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0076ff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: black;
  margin-left: 2px;
  outline: none;
}

.modal__category {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.modal__button {
  width: 315px;

  height: 31px;
  margin-top: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0076ff;
}

.modal__buttonUpload {
  width: 350px;
  height: 70px;
  background-color: #dedede;
  border-radius: 35px;
  border: none;
  margin: 44px 190px 27px 190px;
}

.modal__buttonTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.modal__boxText {
  margin-left: -35px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.modal__boxTextBold {
  color: #0076ff;
  font-weight: bold;
  margin-right: 5px;
}

.modal__clip {
  margin-left: 95px;
}

.modal__inButtonTitle {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #9b9b9b;
}

.modal__inButton {
  display: flex;
  justify-content: space-between;
}

.modal__arrow {
  background-color: #9b9b9b;
  border-radius: 2px;
}

.modal__dropdown {
  display: flex;
  flex-direction: column;
  width: 315px;
  max-height: 260px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  top: 321px;
  right: 340px;
  padding-top: 5.5px;
  border-radius: 10px;
}

.modal__dropdowButton {
  display: flex;
  justify-content: start;
  background-color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #9b9b9b;
  width: 235px;
  margin-left: 20px;
  height: 40.5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.modal__dropdowButton:hover {
  color: black;
}

.modal__dropdownButtons::-webkit-scrollbar {
  width: 11px;
}

.modal__dropdownButtons::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 5.5px;
  margin-right: 30px;
  margin-top: 20px;
}

.modal__dropdownButtons {
  overflow-y: scroll;

  margin-right: 30px;
  margin-bottom: 15px;
}

.last {
  border: none;
}

.modal__buttonUpload:hover {
  background-color: #0076ff;
  cursor: pointer;
}

.marginLeft {
  margin-left: 5px;
}

.modal__inBoxOn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.black {
  color: black !important;
}
