.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__inner {
  width: 730px;
  height: 354px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
}

.modal__close {
  right: 323px;
  top: 142px;
  position: fixed;
  content: "x";
  cursor: pointer;
  width: 7px;
  height: 7px;
  font-family: Montserrat;
  text-align: center;
  font-size: 15px;
  font-weight: initial;
}

.modal__inputs {
  display: flex;
}

.modal__name {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.modal__title {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5px;
  color: #9b9b9b;
}

.modal__nameInput {
  width: 315px;
  height: 28px;
  margin-top: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0076ff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-left: 2px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.modal__nameSet {
  border-bottom: 1px solid #000000;
}

.marginLeft {
  margin-left: 5px;
}

.modal__inBoxOn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.modal__buttonTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.modal__buttonUpload {
  width: 350px;
  height: 70px;
  background-color: #dedede;
  border-radius: 35px;
  border: none;
  margin: 44px 190px 27px 190px;
  cursor: not-allowed;
}

.modal__buttonUploadOk {
  width: 350px;
  height: 70px;
  background-color: black;
  border-radius: 35px;
  border: none;
  margin: 44px 190px 27px 190px;
  cursor: pointer;
}

.modal__upload {
  background-color: #7ed321;
  border: none;
}

.modal__uploadContainer {
  margin: 38px 159px 27px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__buttonClose {
  width: 192px;
  height: 70px;
  background-color: black;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

.modal__uploadTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin-top: 44px;
  display: flex;
  flex-wrap: nowrap;
}

.modal__uploadDescription {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin-bottom: 51px;
  white-space: pre-wrap;
}

.bold {
  font-weight: bold;
}

.modal__uploadInfo {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1080px) {
  .modal__inner {
    width: 95%;
    height: 354px;
  }

  .modal__close {
    right: 25px;
    top: 135px;
  }

  .modal__inputsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__inputs {
    display: flex;
    width: 90%;
    align-items: center;
  }

  .modal__name {
    width: 50%;
    margin-left: 0px;
  }

  .modal__title {
    font-size: 8px;
  }

  .modal__nameInput {
    margin-bottom: 0;
    width: 100%;
  }

  .modal__nameSet {
    margin-bottom: 0;
  }

  .modal__buttonUpload {
    width: 90%;
  }

  .modal__buttonUploadOk {
    width: 90%;
  }

  .modal__uploadTitle {
    margin-top: 20px;
  }

  .modal__uploadDescription {
    font-size: 15px;
  }
}
