.banner {
  color: white;
  object-fit: contain;
  min-height: 760px;
}

.banner__contents {
  margin-left: 165px;
  padding-top: 156px;
  height: 190px;
}

.banner__preTitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
}

.banner__title {
  margin-top: 19px;
  font-family: Roboto Slab;
  font-size: 110px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  width: 75%;
  height: 180px;
}

.banner__descriptionText {
  width: 537px;
  height: 168px;
  margin: 25px 574px 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.banner__buttons {
  display: flex;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  border: none;
  width: 160px;
  height: 40px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-right: 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 12px;
}

.banner__play {
  margin-left: 0px;
  padding: 0;
  width: 14px;
  height: 18px;
  margin-right: 6px;
  object-fit: contain;
  cursor: pointer;
}

.banner__plus {
  width: 15.9px;
  height: 15px;
  margin-right: 6px;
  object-fit: contain;
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .banner {
    min-width: 100%;
    min-height: 545px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .banner__preTitle {
    font-size: 18px;
  }

  .banner__title {
    font-size: 72px;
    text-align: center;
    margin-top: -1px;
    line-height: 1;
    width: 100%;
  }

  .banner__buttons {
    margin: 8px 0 19px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .banner__button {
    margin: 0 55px 0 100px;
  }

  .banner__plusCircle {
    margin: 0;
    cursor: pointer;
    margin-right: 15px;
  }

  .banner__gradient {
    top: 363px;
    position: absolute;
    height: 183px;
    width: 100%;
    transform: rotate(-180deg);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.9) 95%
    );
  }
}
