.banner {
  color: white;
  object-fit: contain;
  min-height: 760px;
}

.banner__contents {
  margin-left: 165px;
  padding-top: 156px;
  height: 190px;
}

.banner__preTitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
}

.banner__title {
  margin-top: 19px;
  font-family: Roboto Slab;
  font-size: 110px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  width: 75%;
  height: 180px;
}

.banner__descriptionText {
  width: 537px;
  height: 168px;
  margin: 25px 574px 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.banner__buttons {
  display: flex;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  border: none;
  width: 160px;
  height: 40px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-right: 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 12px;
}

.banner__play {
  margin-left: 0px;
  padding: 0;
  width: 14px;
  height: 18px;
  margin-right: 6px;
  object-fit: contain;
}

.banner__plus {
  width: 15.9px;
  height: 15px;
  margin-right: 6px;
  object-fit: contain;
}
